<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/share.css" type="text/css">
    <title>코메 구하기 상세글</title>
</head>

<body>
    <div class="page-main">
        <div class="align-center"> <!--헤더-->
            코드메이트
        </div>
        <div class="content-main">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-arrow-left">
                <line x1="19" y1="12" x2="5" y2="12"></line>
                <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
            <div class="content-header">
                <h2>🍰[프론트 개발자] 베이커리 프로젝트 프론트 개발자 한 분 모집합니다🍰</h2>
                <img src="../images/face.png" class="profile-photo">
                <span>닉네임</span>
                <span>2024.05.22(작성일자)</span>
                <input type="button" value="신청하기" id="apply-btn">
            </div>
            <div class="content">
                <h3>모집 정보</h3>
            </div>
            <div class="content">
                <h3>프로젝트 소개</h3>
                <div>
                    이곳저곳 널리 퍼져있는 건강 디저트를 한 눈에 편리하게 볼 수 있는 건강 베이커리 플랫폼 프로젝트 입니다.
                    함께하실 프론트 개발자 모집합니다 !☺

                    🍰 건강 디저트 e-커머스 🍰

                    백엔드도 모집합니다...
                    암튼 모집~ 지금까지 두명 모였고요 세명 더 받습니다

                    ...
                </div>
            </div>
        </div>
    </div>
</body>

</html>